
  <h1>Task List</h1>
    <table id="task-table" class = "table table-bordered table-hover">
      <thead>
        <tr>
          <th>Description</th>
          <th class = "TimeLeft-Column">Time Left</th>
          <th class = "Completed-Column">Done?</th>
          <th class = "Completed-Column">Delete?</th>
          <th>Created by</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'task', collection: @tasks %>

        <% if policy(Task.new).create? %>
          <%= form_for @task, remote: true do |f| %>
            <td class = "newtaskbackground">
              <%= f.text_field :description, class: 'newtask', id: "newtaskfield", placeholder: "Add New Tasks Here" %>
            </td>
            <td class = "newtaskbackground">
              <%= f.submit "Add Task", class: 'btn btn-primary'%>
            </td>
          <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="jumbotron">
      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <%= link_to "Sign In To Start Creating Tasks", new_user_session_path, class: 'btn btn-primary' %>
        </div>
      <div class="btn-group">
        <h3>Or</h3>
      </div>
      <div class="btn-group">
        <%= link_to "Sign Up Today!", new_user_registration_path, class: 'btn btn-signup' %>
      </div>
    </div>
  <% end %>
